@import "../../scss/variables";

.menu-side {
  height: 90vh;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 3%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 1px 7px 0px rgba(151, 132, 132, 0.75);
  @media(max-width: 1200px) {
    width: 180px;
    left: 5px
  }
  @media(max-width: 800px) {
    width: 90vw;
    height: 98vh;
    background-color: rgba(41, 36, 66, 0.97);
    position: absolute;
    top: -110%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-self: center;
    transition: .8s;
    &.roll-down {
      top: 0;
      transition: .8s;
    }
  }

  a {
    //text-transform: uppercase;
    text-decoration: none;
    color: $textColor;
    @media(max-width: 800px) {
      color: white;
    }

    &:hover {
      color: $activeLinkColor;
    }

    .logo-top {
      display: flex;
      flex-direction: column;
      justify-content: left;
      font-weight: normal;
      font-size: 1.5rem;
      @media(max-width: 800px) {
        margin-top: 30px;
        margin-left: 30px;
      }
    }
  }


  .menu-links {
    line-height: 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    @media(max-width: 800px) {
      text-align: center;
      margin-top: 50px;
    }
    @media(max-width: 500px) {
      font-size: 1rem;
      line-height: 3rem;
    }


    a {
      text-decoration: none;
      color: $textColor;
      letter-spacing: 1px;
      @media(max-width: 800px) {
        color: white;
      }

      &:first-of-type {
        @media (max-width: 800px) {
          display: none;
        }
      }

      @media(max-width: 800px) {
        line-height: 4rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      &:hover {
        background-color: rgba(85, 26, 139, 0.3);
        padding-left: 15px;

        box-shadow: 5px 1px 7px 0px rgba(151, 132, 132, 0.75);


      }


    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: flex-start;
    margin-left: 30px;
    @media(min-width: 1100px) {
      flex-direction: row;
      margin: 0;
    }
    @media(max-width: 800px) {
      margin-bottom: 25px;


    }

    svg {
      margin-bottom: 20px;
      font-size: 2rem;
      color: $textColor;
      @media(min-width: 1100px) {
        margin-right: 20px;
      }
      @media(max-width: 800px) {
        color: white;


      }

      &:hover {
        color: $activeLinkColor;
      }

      &:first-of-type {
        margin-top: 30px;
        @media(min-width: 1100px) {
          margin-top: 0;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }

  .menu-hover-triangle-up {
    width: 0;
    height: 0;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 50px solid #e56635;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 5;

    @media(max-width: 800px) {
      display: block;

    }

    .bar-menu-top {
      width: 50px;
      height: 20px;
      position: absolute;
      top: -100%;
      margin-top: 15px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &.on-hover {
        div {
          background-color: $textColor;
        }
      }

      div {
        height: 4px;
        background-color: white;


        &:first-of-type {
          width: 40%;
        }

        &:nth-of-type(2) {
          width: 70%;
        }

        &:last-of-type {
          width: 100%;
        }
      }
    }


  }


}

.menu-hover-triangle {
  width: 0;
  height: 0;
  border-left: 30vw solid transparent;
  border-right: 30vw solid transparent;
  border-top: 50px solid #e56635;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;

  @media(max-width: 800px) {
    display: block;

  }

  .bar-menu {
    width: 50px;
    height: 20px;
    position: absolute;
    bottom: -100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.on-hover {
      div {
        background-color: $textColor;
      }
    }

    div {
      height: 4px;
      background-color: white;


      &:first-of-type {
        width: 100%;
      }

      &:nth-of-type(2) {
        width: 70%;
      }

      &:last-of-type {
        width: 40%;
      }
    }
  }
}
