@import '../../scss/variables';

.drf-card {
  padding: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: $projectBoxShadowAllBorders;


  .login-title {
    width: 250px;
    height: 100px;
    text-align: center;

    img {
      height: 100%;
    }
  }

  .drf-screen {
    width: 250px;

    img {
      width: 100%;
    }
  }
}




