@import'../../scss/variables';

.inner-container {
  position: relative;


  .details-logo {
    img {
      height: 100px;
    }
    .editors-logos{
     @media(max-width: 800px) {
       height: 60px;
     }
    }
  }
  .ex {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    color: $menuLinksColor;

    &:hover {
      color: $activeLinkColor;
    }
  }
}

