@import '../../scss/variables';

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
  text-indent: 15px;

}

ul {
  list-style-type: square;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;

}