@import '../../scss/variables';


.welcome {
  width: 100vw;
  min-height: 130vh;
  background-image: url("../../images/paulinabck.png");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width: 1350px) {
    background-position: left;

  }
  @media(max-width: 960px) {
    background-position: top;
    background-image: url("../../images/PaulaBcgSmall.png");
  }


  .intro-welcome {
    width: 50%;
    position: absolute;
    top: 5%;
    right: 1%;
    min-height: 90vh;
    text-align: center;
    padding: 30px;


    @media(max-width: 1300px) {
      padding: 0;
      width: 50%;
    }
    @media(max-width: 1150px) {
      width: 50%;
    }
    @media(max-width: 960px) {
      width: 70%;
      top: 1.5%;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: -6px 1px 7px 0px rgba(151, 132, 132, 0);

    }
    @media(max-width: 850px) {
      width: 68%;

    }
    @media(max-width: 800px) {
      width: 100%;
      margin-top: 40px;
      min-height: 100vh;
      box-shadow: -6px 1px 7px 0px rgba(141, 21, 21, 0);

    }

    .header-welcome {

      h1 {
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        color: $textColor;
        @media(max-width: 800px) {
          display: none;
        }
      }


    }
  }


  .sub-header {
    padding: 40px;
    text-align: center;
    @media(max-width: 1300px) {
      padding: 10px;
    }
    @media(max-width: 960px) {
      width: 50%;
      margin-left: 45%;

    }
    @media(max-width: 800px) {
      position: absolute;
      top: 0;
      padding: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      transition: .2s;
      margin: 0;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 1px;
      color: $textColor;
      text-align: left;
      margin: 0 10px;

      small {
        font-size: 10px;
        margin-left: 10px;
        color: #1c72d4;
        opacity: 0;
        @media(max-width: 800px) {
          opacity: 1;


        }
      }

      @media(max-width: 650px) {
        font-size: 1.2rem;


      }
      @media(max-width: 350px) {

        font-size: .7rem;

      }

    }
  }

  .text-about {
    padding: 40px;
    border-top: 2px solid $textColor;
    position: relative;
    @media(max-width: 1300px) {
      padding: 15px;
    }
    @media(max-width: 960px) {
      width: 40%;
      margin-left: 55%;

    }
    @media(max-width: 800px) {
      background-color: rgba(231, 236, 238, 0.95);
      position: absolute;
      top: 15vh;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      width: 80%;
      opacity: 0;
      transition: .3s;

      &.show {
        opacity: 1;
        transition: .3s;
      }

    }
    @media(max-width: 375px) {
      position: absolute;
      top: 15vh;
      min-width: 90%;
      padding: 5px;
    }

    small {
      color: #1c72d4;
      position: absolute;
      top: 10px;
      right: 15px;
      opacity: 0;

      @media(max-width: 800px) {
        opacity: 1;
      }

    }


    p {
      margin-top: 30px;
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 1px;
      color: $textColor;
      text-align: justify;
      text-indent: 0;

    }

  }

}







