@import '../../scss/variables';


.welcome {
  width: 100vw;
  min-height: 130vh;
  background-image: url("../../images/bcg4.png");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width: 1350px) {
    background-position: left;

  }
  @media(max-width: 960px) {
    background-position: top;
    background-image: url("../../images/paulaFrontPhoto.jpg");
  }

  .intro-welcome {
    width: 50%;
    position: absolute;
    top: 5%;
    right: 1%;
    min-height: 90vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.47);
    box-shadow: -6px 1px 7px 0px rgba(151, 132, 132, 0.75);
    padding: 30px;


    @media(max-width: 1300px) {
      padding: 15px;
      width: 50%;
    }
    @media(max-width: 1150px) {
      padding: 15px;
      width: 60%;
    }
    @media(max-width: 960px) {
      width: 70%;
      top: 1.5%;
      background-color: rgba(255, 255, 255, 0);
          box-shadow: -6px 1px 7px 0px rgba(151, 132, 132, 0);


    }
    @media(max-width: 850px) {
      width: 68%;

    }
    @media(max-width: 800px) {
      width: 100%;
      margin-top: 40px;
      min-height: 100vh;
      right: 0;
      box-shadow: -6px 1px 7px 0px rgba(141, 21, 21, 0);

    }


    .header-welcome {

      h1 {
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        color: $textColor;
        @media(max-width: 800px) {
          font-size: 2rem;
          margin-top: -5px;

        }
        @media(max-width: 550px) {
          font-size: 1.5rem;
          margin-top: -5px;

        }

      }


    }


  }

  .chevron-on {
    position: absolute;
    font-size: 3.5rem;
    display: none;
    color: $textColor;
    transform: rotate(90deg);
    @media(max-width: 800px) {
      display: block;
      right: 5%;
      top: 100px;
    }

    &:hover {
      color: $activeLinkColor;
    }

    &.open-text {
      display: none;
    }
  }

  .chevron-off {
    position: absolute;
    font-size: 3.5rem;
    display: none;
    color: $textColor;
    transform: rotate(270deg);
    @media(max-width: 800px) {
      display: none;
      right: 5%;
      top: 100px;

    }

    &:hover {
      color: $activeLinkColor;
    }

    &.show-text {
      display: block;

    }
  }

  .sub-header {
    padding: 40px;
    @media(max-width: 1300px) {
      padding: 15px;
    }
    @media(max-width: 960px) {
      width: 50%;
      margin-left: 45%;

    }
    @media(max-width: 800px) {
      position: absolute;
      top: 30%;
      padding: 5px;
      right: 5%;
      min-width: 80%;
      opacity: 0;
      transition: 1s;
      &.show {
        opacity: 1;
        transition: 2s;
      }
    }
    @media(max-width: 350px) {
      position: absolute;
      top: 25%;
      padding: 5px;
      right: 1%;
      min-width: 85%;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 1px;
      color: $textColor;
      text-align: left;
    }
  }

  .text-about {
    padding: 40px;
    border-top: 2px solid $textColor;
    @media(max-width: 1300px) {
      padding: 15px;
    }
    @media(max-width: 960px) {
      width: 40%;
      margin-left: 55%;

    }
    @media(max-width: 800px) {
      background-color: rgba(245, 249, 250, 0.72);
      position: absolute;
      top: 45%;
      right: 3%;
      min-width: 80%;
      opacity: 0;
      transition: 1s;

      &.show {
        opacity: 1;
        transition: 2s;
      }

    }
    @media(max-width: 350px) {
      position: absolute;
      top: 40%;
      padding: 5px;
      right: 4%;
      min-width: 82%;
    }

    p {
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 1px;
      color: $textColor;

    }

  }


}





