@import './scss/variables';

html {
  font-size: 16px;
  @media(max-width: 1200px) {
    font-size: 14px;
  }
}

body {
  font-size: 12px;
  font-family: $fontFamily;
  background-image: url("./images/milad-b-fakurian-2sICkGsJRQY-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media(max-width: 800px) {
    //background-position: bottom;
      background-size: cover;
      background-position: revert;

  }


  &::after {
    content: "";
    border-top: 90vh solid #eae2e2;
    border-right: 300px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
     @media(max-width: 800px) {
    display: none;
  }

  }

  @media(max-width: 600px) {
    background-position: left;
  }

}