$projectBlackBackgroundColor:#000;
$projectWhitedColor:#fff;
$lightGrayFontColor:#666;
$darkGrayTextColor: #333333;
$grayBackgroundColor:#f5f5f5;
$textBlackColor:#111;

$veryLightGrayColor: #9a9494;
//new project styles

$menuLinksColor: rgba(85, 26, 139, 0.45);
$textColor: rgba(38, 22, 50, 0.8);
$activeLinkColor:#9A9494;
$fontFamily: Roboto, sans-serif;
$projectBoxShadowAllBorders:0px -1px 15px 3px #9E9E9E;




